
<%= simple_form_for(@theme) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="field">
    <div class="control">
      <%= f.input :name,
                  required: true,
                  wrapper:false,
                  autofocus: true,
                  input_html: { class: "input" },
                  label_html: {class: "label"}%>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.input :info,
                  required: true,
                  wrapper:false,
                  autofocus: true,
                  input_html: { class: "textarea" },
                  label_html: {class: "label"}%>
    </div>
  </div>
  <div class="field">
          <div class="control">
          <%= f.file_field :logo,
                      required: true,
                      wrapper:false,
                      input_html: { class: "file_field" },
                      label_html: {class: "label"}%>
          </div>
        </div>         

  <div class="field">
    <div class="control">
      <%= f.button :submit, "New Theme", class: "button is-danger is-medium" %>
    </div>
  </div>
  </div>
<% end %>
