<br>
<br>
<%if admin? %>
<%= link_to 'Download (PDF)', books_path(@books, format: 'pdf'), class: "button is-normal is-rounded is-danger", style: "center"%>
<% end %>
<hr>
<div class="columns">
  <div class="column is-2">
    <%= render 'layouts/left_menu'%>
  </div>
  <div class="verticalLine"></div>
  <div class="column">
    <div class="container">
      <div class="row">
        <div class="columns is-gapless is-multiline is-mobile">
          <%= render @books %>
        </div>
      </div>
    </div>

    <nav class="pagination" role="navigation" aria-label="pagination">
      <%= will_paginate @books %>
    </nav>
    <br>
  </div>
    
  
</div>

<% if admin? %>
  <div class="container" style="margin-left: 100px;">
    <%= link_to 'New Book', new_book_path, class: "button is-danger is-normal is-rounded" %>
  </div>
<% end %>
